WEB_ENDPOINT = <url>
STORAGE_FOLDER = <path>

EXECUTOR_TYPE = ('thread'|'process')
EXECUTOR_PROPAGATE_EXCEPTIONS = (True|False)

MAIL_SERVER = <SMTP_ADDRESS>
MAIL_PORT = <SMTP_PORT>
MAIL_USERNAME = <USERNAME>
MAIL_PASSWORD = <PASSWORD>
MAIL_DEFAULT_SENDER = <DEFAULT_SENDER>
MAIL_USE_TLS = (True|False)
